<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310618155604-funvqh6rvo7v6d9p3ipsgbql5f1fa77t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310618155604-funvqh6rvo7v6d9p3ipsgbql5f1fa77t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310618155604-nhknkq97q86hr7bq44t8254s4mn989at.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5eBUuHRSjYvzsJwP4dn9bBgGHpWemC8U</string>
	<key>GCM_SENDER_ID</key>
	<string>310618155604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.know2learn</string>
	<key>PROJECT_ID</key>
	<string>blackboard-83f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>blackboard-83f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310618155604:ios:5c9dcbe468cefbf260dbc1</string>
</dict>
</plist>